<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<context:annotation-config />
	<bean id="loginAction" class="com.sale.action.LoginAction" />
	<bean id="goodsAction" class="com.sale.action.GoodsAction" />	
	<bean id="shopCartAction" class="com.sale.action.ShopCartAction" />
	<bean id="orderAction" class="com.sale.action.OrderAction" />			
	<bean id="userAction" class="com.sale.action.UserAction" />	
	<bean id="registerAction" class="com.sale.action.RegisterAction" />	
	<bean id="userDao" class="com.sale.dao.impl.UserDaoImpl" />
	<bean id="goodsDao" class="com.sale.dao.impl.GoodsDaoImpl" />
	<bean id="shopCartDao" class="com.sale.dao.impl.ShopCartDaoImpl"/>
	<bean id="orderDao" class="com.sale.dao.impl.OrderDaoImpl"/>
	<bean id="shopCartService" class="com.sale.service.impl.ShopCartServiceImpl"/>	
	<bean id="loginService" class="com.sale.service.impl.LoginServiceImpl" />	
	<bean id="goodsService" class="com.sale.service.impl.GoodsServiceImpl" />	
	<bean id="orderService" class="com.sale.service.impl.OrderServiceImpl" />
	<bean id="userService" class="com.sale.service.impl.UserServiceImpl" />
	<bean id="registerService" class="com.sale.service.impl.RegisterServiceImpl" />			
</beans>